<h2 class="text-center mb-4">Meus PIDs</h2>

{{#if pids}}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ano</th>
                <th>Semestre</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each pids}}
                <tr>
                    <td>{{this.ano}}</td>
                    <td>{{this.semestre}}</td>
                    <td>
                        <a href="/projeto_pid_rid/visualizarPid/{{this._id}}" class="btn btn-info">Visualizar</a>
                        <!-- Botão de editar -->
                        <a href="/projeto_pid_rid/editarPid/{{this._id}}" class="btn btn-primary">Editar</a>
                        
                        <!-- Botão para excluir PID -->
                        <form action="/projeto_pid_rid/pids/{{this._id}}/delete" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>Você ainda não cadastrou nenhum PID.</p>
{{/if}}

<!-- Botão para cadastrar um novo PID -->
<a href="/projeto_pid_rid/cadastrarPid" class="btn btn-success">Cadastrar Novo PID</a>

<h2 class="text-center mb-4 mt-5">Meus RIDs</h2>

{{#if rids}}
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Ano</th>
                <th>Semestre</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each rids}}
                <tr>
                    <td>{{this.ano}}</td>
                    <td>{{this.semestre}}</td>
                    <td>
                        <!-- Botão de visualizar -->
                        <a href="/projeto_pid_rid/visualizarRid/{{this._id}}" class="btn btn-info">Visualizar</a>
                        <a href="/projeto_pid_rid/editarRid/{{this._id}}" class="btn btn-primary">Editar</a>
                        <!-- Botão para excluir RID -->
                        <form action="/projeto_pid_rid/rids/{{this._id}}/delete" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>Você ainda não cadastrou nenhum RID.</p>
{{/if}}

<!-- Botão para cadastrar um novo RID -->
<a href="/projeto_pid_rid/cadastrarRid" class="btn btn-success">Cadastrar Novo RID</a>
